<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/7">
        POLITICS
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/8">
        BUSINESS
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/9" >

        LIFESTYLE

    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/10">

        TRAVEL

    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/11">

        World

    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/12">

        opnion

    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/posts/postbycat/2">

        Entertainment

    </a>
</li>