@model NewsWebApp.ViewModels.PostCreateViewModel
@{
    ViewData["Title"] = "Edit " + Model.Post.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewData["categories"] as IEnumerable<Category>;
    var selectedCat = Model.Post.PostCategories.Select(pc => pc.CategoryId).ToList();
    var selectedTag = Model.Post.PostTags.Select(pt => pt.TagId).ToList();
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="_SideNav" />
        </div>
        <div class="col-md-9">
            <h1>Edit Post</h1>

            <div class="container my-5">
                <form asp-controller="Posts" enctype="multipart/form-data" asp-action="Edit" method="post">
                    <div class="mb-3">
                        <label asp-for="Post.Name" class="form-label"></label>
                        <input class="form-control" placeholder="Title" asp-for="Post.Name">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Post.Content" class="form-label"></label>
                        <textarea class="form-control" asp-for="Post.Content"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label  w-100">Categories</label>
                                <select multiple name="SelectedCategoryIds" id="SelectedTagIds" asp-items="@(new MultiSelectList(Model.Categories,"Id","Name",selectedCat))" class="s2 form-control"></select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label w-100">Tags</label>
                                <select multiple name="SelectedTagIds" id="SelectedTagIds" asp-items="@(new SelectList(Model.Tags,"Id","Name",selectedTag))" class="s2tag form-control w-100"></select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Post.PostStatus" class="form-label"></label>
                                <select asp-for="Post.PostStatus" asp-items="Html.GetEnumSelectList<PostStatus>()" class="form-control"></select>
                            </div>
                            <button type="submit" class="btn mt-3 btn-lg btn-primary">Update</button>

                        </div>
                        <div class="col-md-8">  
                            <div class="upload-img p-4">
                                <img id="editimg" src="~/uploads/@Model.Post.Picture" />
                                <input id="myimg" type="file" asp-for="Post.Picture" class="custom-in" />
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </div>


</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var file = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(`<img src="/uploads/${file}"/>`);
            })
        })
    </script>
}